.first {
    background-color: rgb(255, 0, 0);
    margin-top: 50px;
    padding: 30px;
    text-align: center;
}
.second {
    background-color: rgb(0, 174, 255);
    margin-top: 50px;
    padding: 30px;
    text-align: center;
}